body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  text-align: center;
}

button {
  margin: 0.4rem;
  cursor: pointer;
}

ul {
  list-style: none;
}

label {
  display: block;
  margin: 0.4rem 0;
}

textarea {
  width: 320px;
  height: 100px;
  resize: none;
}
