<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <button
        v-for="tab in tabs"
        :key="tab"
        :class="['tab-button', {active: curTab === tab}]"
        @click="curTab = tab"
      >
        {{tab}}
      </button>

      <keep-alive>
        <component :is="curTabCom" class="tab"></component>
      </keep-alive>
    </div>

    <script>
      Vue.component("tab-posts", {
        data() {
          return {
            posts: [
              {
                id: 1,
                title: "title1",
                content: "<p>some awesome text</p>",
              },
              {
                id: 2,
                title: "title2",
                content: "<p>some awesome text</p>",
              },
              {
                id: 3,
                title: "title3",
                content: "<p>some awesome text</p>",
              },
            ],
            selectedPost: null,
          };
        },
        template: `
        <div class="posts-tab">
            <ul class="posts-sidebar">
                <li
                    v-for="post in posts"
                    :key="post.id"
                    :class="{selected: post === selectedPost}"
                    @click="selectedPost = post"
                >
                    {{post.title}}
                </li>
            </ul>
            <div class="selected-post-container">
                <div
                    v-if="selectedPost"
                    class="selected-post"
                >
                    <h3>{{selectedPost.title}}</h3>
                    <div v-html="selectedPost.content"></div>
                </div>
                <strong v-else>
                    Click on a blog title to the left to view it.
                </strong>
            </div>
        </div>
        `,
      });

      Vue.component("tab-archive", {
        template: "<div>Archive component</div>",
      });

      const app = new Vue({
        el: "#app",
        data: {
          curTab: "Posts",
          tabs: ["Posts", "Archive"],
        },
        computed: {
          curTabCom() {
            return `tab-${this.curTab.toLowerCase()}`;
          },
        },
      });
    </script>
  </body>
</html>
